//
// Datepicker
// --------------------------------------------------
// for jquery-ui-1.10.4.css


.ui-datepicker {
  width: 17em;
  padding: 0;
  display: none;
  font-size: ceil($component-font-size-base*1.1428);

  .ui-datepicker-header {
    position: relative;
    padding: 0;
    font-size: $component-font-size-base;
    @include border-bottom-radius(0);
    height: 36px;
    border: none;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    position: absolute;
    top: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -8px;
      top: 50%;
      margin-top: -8px;
      &:before {
        font-family: 'ABUI-icons';
        font-size: 16px;
        line-height: 1;
        color: $inverse;
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
      }
    }
    .ui-icon {
      text-indent: 0;
      color: transparent;
      width: 16px;
      height: 16px;
    }
  }
  .ui-datepicker-prev-hover,
  .ui-datepicker-next-hover {
    top: 0;
    border: none;
    background: $btn-primary-hover-bg;
  }
  .ui-datepicker-prev {
    left: 0;
    span {
      &:before {
        content: "\e079";
      }
    }
  }
  .ui-datepicker-next {
    right: 0;
    span {
      &:before {
        content: "\e080";
      }
    }
  }
  .ui-datepicker-prev-hover {
    left: 0;
    @include border-right-radius(0);
    @include border-bottom-left-radius(0);
  }
  .ui-datepicker-next-hover {
    right: 0;
    @include border-left-radius(0);
    @include border-bottom-right-radius(0);
  }

  .ui-datepicker-title {
    margin: 0;
    line-height: 36px;
    padding: 0 40px;
    text-align: center;
    height: 36px;
    select {
      font-size: 0.95em;
      margin: 0;
      border: none;
      color: $gray;
      font-weight: normal;
      height: 24px;
      margin-right: 4px;
      margin-left: 4px;
      @include border-radius($border-radius-base);
      background: white;
    }
  }
  select.ui-datepicker-month,
  select.ui-datepicker-year {
    width: 40%;
  }

  table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
    background: none;
  }
  th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }
  td {
    border: 0;
    padding: 1px;
    span,
    a {
      display: block;
      padding: .2em;
      text-align: right;
      text-decoration: none;
    }
  }
  .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    button {
      float: right;
      margin: .5em .2em .4em;
      cursor: pointer;
      padding: .2em .6em .3em .6em;
      width: auto;
      overflow: visible;
      font-size: floor($component-font-size-base*0.928);
      &.ui-datepicker-current {
        float: left;
      }
    }
  }
  &.ui-datepicker-multi {
    width: auto;
  }
}

.ui-datepicker-multi {
  .ui-datepicker-group {
    float: left;
    table {
      width: 95%;
      margin: 0 auto .4em;
    }
  }
  .ui-datepicker-group-first,
  .ui-datepicker-group-middle {
   border-right: 1px solid white;
  }
  .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }
  .ui-datepicker-buttonpane {
    clear: left;
  }
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}


/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
  .ui-datepicker-prev {
    right: 2px;
    left: auto;
    &:hover {
      right: 1px;
      left: auto;
    }
  }
  .ui-datepicker-next {
    left: 2px;
    right: auto;
    &:hover {
      left: 1px;
      right: auto;
    }
  }
  .ui-datepicker-buttonpane {
    clear: right;
    button {
      float: left;
      &.ui-datepicker-current {
        float: right;
      }
    }
  }
  .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
  }
}









