//
// Tooltip
// --------------------------------------------------

.tooltip {
  font-size: ceil($component-font-size-base * 0.933); // ~14px
  line-height: 1.286; // 18px

  &.in {
    opacity: 1;
  }
  &.top {
    padding-bottom: 9px;

    .tooltip-arrow {
      border-top-color: $gray;
      border-width: 8px 6px 0;
      bottom: 1px;
      margin-left: -8px;
    }
  }
  &.right {
    .tooltip-arrow {
      border-right-color: $gray;
      border-width: 6px 8px 6px 0;
      margin-top: -6px;
      left: -3px;
    }
  }
  &.bottom {
    padding-top: 8px;

    .tooltip-arrow {
      border-bottom-color: $gray;
      border-width: 0 6px 8px;
      margin-left: -8px;
      top: 0px;
    }
  }
  &.left {
    .tooltip-arrow {
      border-left-color: $gray;
      border-width: 6px 0 6px 8px;
      margin-top: -6px;
      right: -3px;
    }
  }
}

.tooltip-inner {
  background-color: $gray;
  line-height: 1.286; // 18px
  padding: 12px 12px;
  text-align: center;
  width: 183px;
  border-radius: $border-radius-base;
}