//
// Typeahead
// --------------------------------------------------

.twitter-typeahead {
  width: 100%;

  .tt-hint {
    @extend .form-control;
    background: transparent !important;
  }
  .tt-query {
    @extend .form-control;
    background: $inverse !important;
  }

  .tt-dropdown-menu {
    width: 100%;
    margin-top: 4px;
    // border: 2px solid $brand-secondary;
    padding: 5px 0;
    background-color: $dropdown-bg;
    border-radius: $border-radius-base;
    box-shadow: $gray-lighter 0 1px 4px;
  }

  .tt-suggestion {
    p {
      padding: 6px 14px;
      font-size: ceil($component-font-size-base * 0.933);
      line-height: 1.429; // ~20px
      margin: 0;
      color: $gray;
    }

    &:first-child,
    &:last-child {
      p {
        padding: 6px 14px;
      }
    }
    &.tt-is-under-cursor {
      background-color: $gray-subtle;
      p {
        color: $gray-dark;
      }
    }
  }
}
.form-group-typehead {
  margin-top: -9px;
}
.input-icon-typehead {
  position: absolute;
  top: 43px;
  right: 17px;
  line-height: 40px;
  vertical-align: middle;
  font-family: "ABUI-icons";
  font-size: $input-icon-font-size;
  color: $gray-subtle;
  background-color: transparent;
  padding: 0 12px 0 0;
  border-radius: $input-border-radius;
  z-index: 1;
}