.w120 { width: 120px !important; }
.w160 { width: 160px !important; }
.w180 { width: 180px !important; }
.w200 { width: 200px !important; }
.w220 { width: 220px !important; }
.w300 { width: 300px !important;}
.w340 { width: 340px !important; }