<meta charset="UTF-8">
<title>プロジェクト テンプレート</title>
<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- ページごとにファイル名.css を作成 / ページ単位のスタイルはこのページに作成 -->
<% var path = filename.split('/')[filename.split('/').length - 1].replace('.ejs','') %>
<link rel="stylesheet" type="text/css" href="css/<%= path %>.css">