  <div class="sidebar sidebar-fixed-top-bs">
      <% include _sidebar %>
  </div><!-- /.sidebar -->

  <div id="header-site" class="navbar navbar-inverse navbar-brandlogo fix-sidebar  navbar-fixed-top with-sidebar-below">
    <% include _navbar %>
  </div><!-- /.navbar -->
  <div class="wrapper with-navbar-fixed-top-bslg fix-sidebar">
    <!-- wrapper内の navbar -->
    <nav id="header-content" class="navbar navbar-default navbar-lg fix-sidebar__leftmargin with-navbar-fixed-top navbar-fixed-top">
      <% include _inner-navbar %>
    </nav>

    <div class="container fix-sidebar__leftmargin">