<div class="navbar-header">
  <button type="button" class="sidebar-toggle">
    <span class="sr-only">Toggle sidebar</span>
  </button>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <h1 class="navbar-title"><a href="#">H1タイトル</a></h1>
</div>
<div class="navbar-collapse collapse" id="navbar-collapse-01">
  <div class="navbar-right">
    <p class="navbar-text navbar-logininfo">
    <span class="datetime">2014/00/00</span><span class="username">0000 : Username</span><span><a href="" class="">ログアウト</a></span>
  </p>
  <p class="navbar-icon"><a href="#"><span class="icon-abui-guide"></span></a></p>
  </div>
</div>