<p class="category">projects_template</p>
<ul>
  <li><a href="">template_001</a></li>
  <li><a href="">template_002</a></li>
  <li><a href="">template_003</a></li>
  <li>
    <span class="expander"><span class="caret"></span></span>
    <span>ネストされたサイドメニュー</span>
    <ul class="expander-target displaynone">
      <li><span class="expander"><span class="caret"></span></span><a href="#">1</a>
        <ul class="expander-target displaynone">
          <li><a href="">1-1</a></li>
          <li><a href="">1-2</a></li>
          <li><a href="">1-3</a></li>
        </ul>
      </li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
    </ul>
  </li>
</ul>

